body {
    font-size: normal;
    font-family: 'Open Sans', helvetica, sans-serif;
}

.forms-body {
    background: url('../img/background.jpeg') center center no-repeat fixed;
    background-size: cover;
}

.auth-forms {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    animation: fade-animation 1s;
}

.form-header {
    margin: 100px auto 15px auto;
    color: #5cb85c;
    font-weight: bold;
    text-align: center;
}
form {
    color: white;
}

.form-header img {
    height: 150px;
}
label {
    font-size: 1.2em;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    opacity: 0.5;
    font-weight: bold;
    color: #5cb85c;
    border-left: 5px solid white;
    transition: 0.3s all;
}

input[type="text"]:focus,
input[type="password"]:focus,
 input[type="email"]:focus {
    opacity: 1;
    border-left: 5px solid #5cb85c;
}

@keyframes fade-animation{
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.profile {
    margin: 0;
    padding: 0.5% 2%;
}

.navbar {
    margin-bottom: 0;
}

#map {
    height: 600px;
}

.navbar {
    position: fixed;
    top: 0;
    left: -3px;
    right: -3px;
    z-index: 100;
}


nav li a {
    text-decoration: none !important;
    position: relative;
    color: black;
    float: left;
    margin: 0 10px;
    padding: 30px 0;
}

nav li a:hover {
    color: #006F93;
}

nav li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 5px solid #5cb85c;
    transition: 0.4s;
}

nav li a:hover:after {
    width: 100%;
}

nav li a.active:after {
    width: 100%;
}

.navbar-brand img {
    height: 100%;
}

body {
  background: white;
  background: -webkit-radial-gradient(#ccc, white);
  background: -o-radial-gradient(#ccc, white);
  background: -moz-radial-gradient(#ccc, white);
  background: radial-gradient(#ccc, white);
}

.profile-picture,
.panel-body img {
    height: 200px;
    width: auto;
    padding: 0;
    display: block;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
}

.profile {
    margin-top: 100px;
}

.profile h1 {
    margin: 25px 0;
    color: #5cb85c;
}


.glyphicon {
    color: #5cb85c;
    margin-right: 5px;
}

.glyphicon-eye-open {
    margin-right: 15px;
}

.glyphicon-eye-open,
.glyphicon-trash {
cursor: pointer;
}

.glyphicon-trash {
    color: #d75b32;
}

#accordion {
    margin-top: 70px;
}

.notification-circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #d75b32;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.8em;
    position: absolute;
    top: -10px;
    left: -10px;
    font-weight: bold;
}

a.navbar-brand {
padding: 10px;
}

#notifications {
    padding: 0;
    width: 250px;
    animation: fade-animation 1s;
}

#notifications li{
    padding: 15px 10px;
}

#notifications li .glyphicon{
    color: #d75b32;
}

small {
    margin-left: 25px;
}

a.dropdown-toggle {
    font-size: 14px;
    height: 50px;
}

.notification-header {
    background-color: #f6f8f8;
    font-weight: bold;
    color: #aaa;
}



