.idea/
kimo/.idea/
kimo/__pycache__/
kimo/api/__pycache__/
kimo/authentication/__pycache__/
kimo/authentication/migrations/__pycache__/
kimo/dependencies.txt
kimo/kids/__pycache__/
kimo/kids/migrations/__pycache__/
kimo/kimo/__pycache__/
kimo/xe
kimo/api/migrations/__pycache__/
kimo/*/migrations/00*.py