{% extends 'templates/base.html' %}
{% load static %}
{%block title %}Login{% endblock %}

{% block content %}
 <script src="{% static 'global/js/kid.js' %}"></script>
 <script> getKidInfo() </script>
<div class="baby-profile">
    <div class="row">
        <img class="col-xs-6 profile-picture" src="{% static 'global/img/baby_picture.jpeg' %}" alt="profile picture">

        <div class="col-xs-6">
            <div class="user-details">
                <h1 id="kid-name"></h1>
                <p><span class="glyphicon glyphicon-calendar"></span><span id="birth-date"></span> <small id="age"></small></p>
                <p><span class="glyphicon glyphicon-map-marker"></span> <span id="child-pos"></span></p>
            </div>
        </div>
    </div>
    <h2> At the moment, <span id="first-name"></span> is here: </h2>


    <form class="form-inline">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
            <label class="sr-only" for="latitude">Latitude</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="latitude" placeholder="Latitude">
             <p id="latitude_error" class="error-msg"></p>
            </div>

            <div class="col-md-3">
            <label class="sr-only" for="longitude">Longitude</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="longitude" placeholder="Longitude">
             <p id="longitude_error" class="error-msg"></p>
            </div>


            <div class="col-md-3">
            <label class="sr-only" for="distance">Distance</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="distance" placeholder="Distance (meters)">
             <p id="distance_error" class="error-msg centered"></p>
            </div>
            <div class="col-md-3">
             <a href="#" type="submit" class="btn btn-success" onclick="addRestriction()">Add Restriction</a>

            </div>
        </div>
</form>

    <div id="map"></div>

    <h2> Recent activity: </h2>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Went out of range
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                    <h3>Amber is wandering on the streets</h3>
                    <p><span class="glyphicon glyphicon-calendar"></span> 28 Apr 2017</p>
                    <p><span class="glyphicon glyphicon-time"></span> 14:35</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> 188 Logan St.Crystal Lake, IL 60014</p>
                </div>
            </div>
        </div>

  <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Encountered Nethan Doe
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">

                    <h3>Met Nethan Doe</h3>
                    <p><span class="glyphicon glyphicon-calendar"></span> 28 Apr 2017</p>
                    <p><span class="glyphicon glyphicon-time"></span> 11:35</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> 188 Logan St.Crystal Lake, IL 60014</p>
                </div>
            </div>
        </div>

 <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Hit a piece of furniture
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                    <h3>Hit a piece of furniture</h3>
                    <p><span class="glyphicon glyphicon-calendar"></span> 27 Apr 2017</p>
                    <p><span class="glyphicon glyphicon-time"></span> 09:25</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> 189 Logan St.Crystal Lake, IL 60014</p>
                </div>
            </div>
        </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9sVt_9-coQ5PNimOKNg4332NTZVaBEFI&callback=initMap"
async defer></script>
</div>
{% endblock %}