{% extends 'templates/base.html' %}
{%block title %}Login{% endblock %}
{% load static %}
{% block body_extra %} class="forms-body" {% endblock %}
{% block content %}

<script type="text/javascript" src="{% static 'global/js/auth.js' %}"></script>

<h2 class="form-header"><img src="/static/global/img/logo.png" alt="Logo"></h2>
<form class="auth-forms">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Username</label>
        <input type="text" id="id_username" name="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="id_password">Password</label>
        <input type="password" id="id_password" name="password" class="form-control">
    </div>
    <div class="row">
        <p class="col-xs-6">Don't have an account? Register <a href="{% url 'register' %}">here</a></p>
        <div class="col-xs-3 col-xs-offset-3">
            <button type="submit" class="btn btn-success btn" id="login-submit" onclick="login()">Login</button>
        </div>
    </div>
</form>
{% endblock %}